

@media(max-width: 460px) {
    main .container {    
        width: 400px;
        
    
    }

    .container .formulario form {
        
        width: 200px;
        padding: 30px;
       
        
        
    }

    
.container .formulario form .input {
    width: 300px;
    margin-bottom: 5px;
 
    
}

    footer {

        text-align: center;
        margin-left: 0;
        margin-top: 20px;

    }
}


@media(max-width: 436px) {
    main .container {    
        width: 350px;
        
    
    }

}



@media(max-width: 372px) {
    main .container {    
        width: 300px;
        
    
    }

    .container .formulario form {
        
        width: 100px;
        
       
        
        
    }

    
.container .formulario form .input {
    width: 200px;
    margin-bottom: 5px;
 
    
}
.container .formulario #botao-enviar {
    
    width: 150px;
    

}
}


@media(max-width: 330px) {
    main .container {    
        width: 250px;
        
    
    }

}



