:root {
    --font-padarao: arial,verdana;
    --font-destaque: 'Cormorant Garamond', serif;;
    --font-especial: 'always', 'cursive';
    --cor-padrao: #ACD1F2;
    --cor-link: #0487D9;
    --cor-texto: rgb(20, 70, 209);

   
    

}